@model RestaurantProject.ViewModels.RestaurantCategoryType

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // Restaurant currentRes = (Restaurant)TempData["RestaurantID"];
}
<div class="container-fluid">
    <h1>Create</h1>

    <h4>CategoryType</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.categoryType.Type" class="control-label"></label>
                    <input asp-for="@Model.categoryType.Type" class="form-control" />
                    <span asp-validation-for="categoryType.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.restaurant.RestaurantID" class="control-label"></label>
                    <input asp-for="@Model.restaurant.RestaurantID" readonly value="@Model.restaurant.RestaurantID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Details" asp-controller="Restaurants" asp-route-id="@Model.restaurant.RestaurantID">Back to List</a>
    </div>
</div>


