@model IEnumerable<RestaurantProject.Models.CategoryType>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1>Index</h1>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Describtion)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CatrgoryTypeID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CatrgoryTypeID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CatrgoryTypeID">Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>
