@model IEnumerable<RestaurantProject.Models.Restaurant>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="text-center mx-auto col-3 my-3">

        <input type="text" id="search" placeholder="Search restaurant by Name" class="form-control" onkeyup="postMe()" />
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="text-center mx-auto col-3">
            <a asp-action="Create" class="btn btn-warning ">Add Restaurant</a>
        </div>


    }
    <div class="container-fluid">
        <div class="row">
            @if (ViewBag.SearchResult != null)
            {
                @foreach (var res in ViewBag.SearchResult)
                {
                    var photoPath = "~/images/" + (res.PicUri);
                    <div class="col-4">
                        <a asp-action="Details" class="text-decoration-none" asp-route-id="@res.RestaurantID">
                            <div class="card mt-4">
                                <div class="card-body">

                                    <h5 class="card-title text-center">@res.Name</h5>
                                    <img src="@photoPath" asp-append-version="true" class="card-img-top img-fluid" alt="RestaurantPic" style="height:13em;width:20em;">
                                    <p class="card-text text-center">@res.Describtion</p>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <div class="text-center mt-md-3">
                                            <a asp-action="Edit" class="btn btn-info mt-2" asp-route-id="@res.RestaurantID">Edit</a>
                                            <a asp-action="Details" class="btn btn-success mt-2" asp-route-id="@res.RestaurantID">Details</a>
                                            <a asp-action="Delete" class="btn btn-danger mt-2 " asp-route-id="@res.RestaurantID">Delete</a>
                                        </div>
                                    }

                                </div>
                            </div>
                        </a>
                    </div>
                }

            }
            else
            {


                @foreach (var item in Model)
                {
                    var photoPath = "~/images/" + (item.PicUri);
                    <div class="col-3">
                        <a asp-action="Details" class="text-decoration-none" asp-route-id="@item.RestaurantID">
                            <div class="card rounded mt-4">
                                <div class="card-body">

                                    <h5 class="card-title text-center">@item.Name</h5>
                                    <img src="@photoPath" asp-append-version="true" class="card-img-top img-fluid" alt="RestaurantPic" style="height:19em;width:20em;">

                                    <p class="card-text text-center">@item.Describtion</p>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <div class="text-center mt-md-3">
                                            <a asp-action="Edit" class="btn btn-info mt-2" asp-route-id="@item.RestaurantID">Edit</a>
                                            <a asp-action="Details" class="btn btn-success mt-2" asp-route-id="@item.RestaurantID">Details</a>
                                            <a asp-action="Delete" class="btn btn-danger mt-2 " asp-route-id="@item.RestaurantID">Delete</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>

                }
            }
        </div>
    </div>
</div>



<script>

    async function postMe() {
        // alert("enterd");

        let n = await document.getElementById("search").value;
        $.ajax({
            url: "@Url.Action("Index")",
            data: { Name: n },
            method: "POST",
            success: function (rs) {
                document.body.innerHTML = rs;
                document.getElementById("search").value += n;
                document.getElementById("search").focus();
            },
            error: function (x, y, err) {
                console.log(err);
            }
        })
        // location.href = "/Restaurants/Index/" + n;
    }

</script>